* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-gradient-from: hsl(6, 100%, 80%);
  --color-gradient-to: hsl(335, 100%, 65%);
  --color-pale-blue: hsl(243, 100%, 93%);
  --color-grayish-blue: hsl(229, 7%, 55%);
  --color-dark-blue: hsl(228, 56%, 26%);
  --color-very-dark-blue: hsl(229, 57%, 11%);
  --padding: 30px;
  --width-header: 320px;
}

body {
  font: 14px "Raleway", sans-serif;
  background: url(../images/bg-desktop.png) no-repeat bottom fixed;
  background-size: contain;
  background-color: var(--color-very-dark-blue);
}

h1 {
  display: none;
}

.component {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
}

@media screen and (max-width: 768px) {
  body {
    background: url(../images/bg-mobile.png) no-repeat;
    background-size: 100vw 100vh;
    background-color: var(--color-very-dark-blue);
  }
}

header,
main {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: var(--color-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding);
  margin: 8px 15px;
}

/* Start header */
header {
  width: var(--width-header, 320px);
  height: 200px;
  justify-content: space-around;
  border-top-right-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -moz-border-top-right-radius: 50%;
  -ms-border-top-right-radius: 50%;
  -o-border-top-right-radius: 50%;
}

header .logo {
  width: 90%;
}

header .icons {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

header .icons .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 8%;
  background-color: var(--color-very-dark-blue);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

header .icons .box img {
  width: 100%;
}

header .icons .box input[type="file"] {
  display: none;
}

header .icons label.box {
  cursor: pointer;
}
/* Box hover effect */
.box:hover img {
  filter: invert(100%) sepia(0%) saturate(7474%) hue-rotate(182deg)
    brightness(104%) contrast(93%);
}
/* End header */
/* Start main */
main {
  width: calc(var(--width-header) * 1.5);
  height: 150px;
  justify-content: space-between;
  position: relative;
}

main label {
  color: var(--color-pale-blue);
}

main .scale {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}
/* Start remainder */
main .remainder {
  --width: 160px;
  --height: 60px;
  width: var(--width);
  max-width: 100%;
  height: var(--height);
  position: absolute;
  left: calc(50% - var(--width) / 2);
  bottom: calc(-0.5 * var(--height));
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--color-grayish-blue);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.remainder strong {
  font-size: 36px;
  color: var(--color-very-dark-blue);
}

@media screen and (min-width: 1075px) {
  main .remainder {
    left: calc(100% - var(--padding) - var(--width));
    bottom: calc(100% - var(--padding));
  }

  .remainder::after {
    content: "";
    width: 0;
    height: 0;
    border: solid 25px white;
    position: absolute;
    right: 0;
    bottom: -25px;
    border-color: transparent white transparent transparent;
  }
}
/* End remainder */
/* Start progress */
progress {
  appearance: none;
  -moz-appearance: initial;
  background: var(--color-very-dark-blue);
  width: 100%;
  height: 1rem;
  border: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border: solid 2px var(--color-very-dark-blue);
  position: relative;
}
/* webkit */
progress::-webkit-progress-bar {
  background: var(--color-very-dark-blue);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
progress::-webkit-progress-value {
  background: linear-gradient(
    to right,
    var(--color-gradient-from),
    var(--color-gradient-to)
  );
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
/* firefox */
progress::-moz-progress-bar {
  background: linear-gradient(
    to right,
    var(--color-gradient-from),
    var(--color-gradient-to)
  );
  border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
}
/* thumb */
.thumb {
  width: 0.6rem;
  height: 0.6rem;
  background-color: white;
  position: relative;
  top: -31px;
  left: calc(0.815 * 100% - 0.7rem);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: solid 1px var(--color-gradient-to);
}
/* End progress */
/* End main */
/* Start footer */
.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 0;
  color: white;
}
.attribution a {
  color: var(--color-gradient-from);
}
/* End footer */