* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-gradient-from: hsl(6, 100%, 80%);
  --color-gradient-to: hsl(335, 100%, 65%);
  --color-pale-blue: hsl(243, 100%, 93%);
  --color-grayish-blue: hsl(229, 7%, 55%);
  --color-dark-blue: hsl(228, 56%, 26%);
  --color-very-dark-blue: hsl(229, 57%, 11%);
}

body {
  font: 14px "Raleway", sans-serif;
}

.component {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
}

@media screen and (max-width: 768px){
    .component {
        flex-direction: column;
    }
}
/* Start header */

/* End header */

/* Start footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* End footer */